<h1>Artist Details</h1>

<div class="wrapper">
  <h2 class="artist-name">{{ artist?.name }}</h2>
  <p [innerHTML]="artist?.bio.summary"></p>

  <!--
 Nach Recherche habe ich herausgefunden das die LastFM APi keine Bilder 
 mehr provided. Jedes hinterlegte Bild ist ein weißer Stern. (Platzhalter)
  <img
    src="{{ artist?.image[1]['#text'] }}"
    alt="image of
  {{ artist?.name }}"
  />
  -->
  <p class="artist-info">
    {{ artist?.name }} has {{ artist?.stats.listeners }} monthly listeners and a
    Playcount of {{ artist?.stats.playcount }} times.
  </p>
  <p>
    To vistit {{ artist?.name }}
    <a href="{{ artist?.url }}">official LastFM Page click here </a> and to
    visit the
    <a href="{{ artist?.bio.links.link.href }}">
      LastFM Wiki Entry to get even more Info click here!</a
    >
  </p>

  <h2>Similar Artists:</h2>

  <ul class="" *ngFor="let artist of artist?.similar.artist">
    <li>{{ artist.name }}</li>
  </ul>
  <h2>Tags:</h2>

  <ul class="artist-info" *ngFor="let tag of artist?.tags.tag">
    <li>
      <a href="https://www.last.fm/tag/{{ tag?.name }}">{{ tag?.name }}</a>
    </li>
  </ul>
</div>
