/* Add some styling for the header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.452), rgb(255, 255, 255));

  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 2rem;
}

/* Add some hover effect to the links in the header */
header a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

header a:hover {
  transform: scale(1.05);
}

/* Add a nice drop shadow to the header */
header {
  height: 50px;
}

/* Add some hover effect for the logo */
.logo:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}

/* Style the logo */
.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-inline: auto;
  color: rgba(0, 0, 0, 0.753);
}
.country {
  color: red;
  height: 20px;
}
