header {
  background: linear-gradient(rgba(14, 14, 14, 0.452), rgb(0, 0, 0));

  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 2rem;
}

header a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

header a:hover {
  transform: scale(1.05);
}

header {
  height: 50px;
  display: flex;
  flex-direction: column;
}

.logo:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-inline: auto;
  color: white;
}
.country {
  height: 20px;
}

.compare {
  color: white;
}
